div{
    
    ;}
    #div-blue{
        color: blue;
    }

    .testo-verde{
        color:green
    }
    span{
        font-style: italic;
    }
    #area-grassetto span{
        font-weight: bold;
    }